include src/exojax/data/atom/atomic.txt
include src/exojax/data/atom/barklem_collet_2016_pff.txt
include src/exojax/data/atom/iso_mn.txt
include src/exojax/data/clouds/drag_force.txt
include src/exojax/data/abundance/AAG2021.dat
include src/exojax/data/atom/NIST_Atomic_Ionization_Energies.txt

include src/exojax/data/testdata/spectrum.txt
include src/exojax/data/testdata/moldb_co_exomol.pickle
include src/exojax/data/testdata/lpf_test_ref.txt

graft tests
graft examples
graft docs

global-exclude *.py[co]

prune documents/_build
prune documents/_static
prune documents/_templates
prune documents/_build/doctrees/index.doctree
