include src/exojax/data/atom/atomic.txt
include src/exojax/data/atom/barklem_collet_2016_pff.txt
include src/exojax/data/atom/iso_mn.txt
include src/exojax/data/atom/HITRAN_molparam.txt
include src/exojax/data/clouds/drag_force.txt
include src/exojax/data/abundance/AAG2021.dat
include src/exojax/data/atom/NIST_Atomic_Ionization_Energies.txt

include src/exojax/data/testdata/spectrum.txt
include src/exojax/data/testdata/spectrum_ch4.txt
include src/exojax/data/testdata/spectrum_ch4_new.txt
include src/exojax/data/testdata/spectrum_co.txt
include src/exojax/data/testdata/moldb_h2o_exomol.pickle
include src/exojax/data/testdata/moldb_vald.pickle
include src/exojax/data/testdata/lpf_test_ref.txt
include src/exojax/data/testdata/modit_test_ref.txt
include src/exojax/data/testdata/premodit_test_ref.txt
include src/exojax/data/testdata/premodit_test_hitemp_ref.txt
include src/exojax/data/testdata/premodit_test_hitemp_ref_air.txt
include src/exojax/data/testdata/modit_rt_test_ref.txt
include src/exojax/data/testdata/modit_rt_test_hitemp_ref.txt

include src/exojax/data/testdata/premodit_rt_test_ref.txt
include src/exojax/data/testdata/premodit_rt_test_hitemp_ref.txt
include src/exojax/data/testdata/modit_rt_test_vald_ref.txt
include src/exojax/data/testdata/CO/05_HITEMP_SAMPLE.par

include src/exojax/data/premodit/elower_grid_trange.npz


graft tests
graft examples
graft docs

global-exclude *.py[co]

prune documents/_build
prune documents/_static
prune documents/_templates
prune documents/_build/doctrees/index.doctree
