include src/exojax/data/atom/atomic.txt
include src/exojax/data/atom/barklem_collet_2016_pff.txt
include src/exojax/data/atom/iso_mn.txt
include src/exojax/data/atom/HITRAN_molparam.txt
include src/exojax/data/clouds/drag_force.txt
include src/exojax/data/clouds/ammonia_liquid_density.csv
include src/exojax/data/abundance/AAG2021.dat
include src/exojax/data/abundance/xspec_abundance.txt
include src/exojax/data/atom/NIST_Atomic_Ionization_Energies.txt
include src/exojax/data/opacity/FeH_Hargreaves2010.csv

include src/exojax/data/testdata/spectrum.txt
include src/exojax/data/testdata/spectrum_ch4.txt
include src/exojax/data/testdata/spectrum_ch4_new.txt
include src/exojax/data/testdata/spectrum_ch4_trans.txt
include src/exojax/data/testdata/spectrum_co.txt
include src/exojax/data/testdata/moldb_vald.pickle
include src/exojax/data/testdata/lpf_test_ref.txt
include src/exojax/data/testdata/modit_test_ref.txt

include src/exojax/data/testdata/lpf_test_hitemp_ref.txt
include src/exojax/data/testdata/lpf_test_hitemp_ref_air.txt
include src/exojax/data/testdata/modit_test_hitemp_ref.txt
include src/exojax/data/testdata/modit_test_hitemp_ref_air.txt
include src/exojax/data/testdata/premodit_test_hitemp_ref_air.txt

include src/exojax/data/testdata/modit_rt_test_ref.txt
include src/exojax/data/testdata/modit_rt_test_hitemp_ref.txt
include src/exojax/data/testdata/lpf_rt_test_hitemp_ref.txt
include src/exojax/data/testdata/lpf_rt_test_ref.txt
include src/exojax/data/testdata/premodit_rt_test_ref.txt
include src/exojax/data/testdata/premodit_rt_test_hitemp_ref.txt
include src/exojax/data/testdata/modit_rt_test_vald_ref.txt
include src/exojax/data/testdata/premodit_reflect_test_ref.txt
include src/exojax/data/testdata/premodit_trans_test_ref.txt

include src/exojax/data/testdata/CO100percent_500K.feather
include src/exojax/data/testdata/filter_sdss_g.csv

include src/exojax/data/testdata/luhman16a_spectra_detector1.csv
include src/exojax/data/testdata/jupiter_corrected.dat


include src/exojax/data/testdata/H2-H2_TEST.cia
include src/exojax/data/testdata/CO/05_HITEMP_SAMPLE.par
include src/exojax/data/testdata/CO/12C-16O/SAMPLE/12C-16O__H2.broad
include src/exojax/data/testdata/CO/12C-16O/SAMPLE/12C-16O__He.broad
include src/exojax/data/testdata/CO/12C-16O/SAMPLE/12C-16O__SAMPLE.def
include src/exojax/data/testdata/CO/12C-16O/SAMPLE/12C-16O__SAMPLE.pf
include src/exojax/data/testdata/CO/12C-16O/SAMPLE/12C-16O__SAMPLE.states.bz2
include src/exojax/data/testdata/CO/12C-16O/SAMPLE/12C-16O__SAMPLE.states.hdf5
include src/exojax/data/testdata/CO/12C-16O/SAMPLE/12C-16O__SAMPLE.trans.bz2
include src/exojax/data/testdata/CO/12C-16O/SAMPLE/12C-16O__SAMPLE.trans.hdf5

include src/exojax/data/testdata/H2O/1H2-16O/SAMPLE/1H2-16O__H2.broad
include src/exojax/data/testdata/H2O/1H2-16O/SAMPLE/1H2-16O__He.broad
include src/exojax/data/testdata/H2O/1H2-16O/SAMPLE/1H2-16O__SAMPLE.def
include src/exojax/data/testdata/H2O/1H2-16O/SAMPLE/1H2-16O__SAMPLE.pf
include src/exojax/data/testdata/H2O/1H2-16O/SAMPLE/1H2-16O__SAMPLE.states.bz2
include src/exojax/data/testdata/H2O/1H2-16O/SAMPLE/1H2-16O__SAMPLE.states.hdf5
include src/exojax/data/testdata/H2O/1H2-16O/SAMPLE/1H2-16O__SAMPLE__04300-04400.trans.bz2
include src/exojax/data/testdata/H2O/1H2-16O/SAMPLE/1H2-16O__SAMPLE__04300-04400.trans.hdf5

include src/exojax/data/testdata/20250503072507__1H2-16O__296.0K.csv

include src/exojax/data/premodit/elower_grid_trange.npz
include src/exojax/data/premodit/elower_grid_trange_v2.npz

include src/exojax/data/testdata/test.refrind
include src/exojax/data/testdata/miegrid_lognorm_test.mg.npz

graft tests
graft examples
graft docs

global-exclude *.py[co]

prune documents/_build
prune documents/_static
prune documents/_templates
prune documents/_build/doctrees/index.doctree
