jax
jaxlib
hitran-api
beautifulsoup4
hjson          # Json with comments (for default_radis.json)
tqdm
PyMieScatt
radis >= 0.15.2
numba
tables
pandas
termcolor
h5py
joblib
astroquery
psutil
json_tricks
habanero<=1.2.6
numpy<2
